<!DOCTYPE html>
<html lang="en">
<head>
    {{> common/htmlhead}}
</head>

<body>
{{> common/checkout-header}}
<div class="checkout-shipping">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="secure-payment">
                    <span><img class="secure-payment-icon" src="{{meta.assetsPath}}img/credit-card-lock.png" alt="secure payment"></span>
                    <span class="text-uppercase secure-payment-title">{{content.messages.checkout.secureCheckout.shipping.title}}</span>
                </div>
            </div>
            {{> checkout/step-widget}}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="checkout">
                    <div class="row">
                        {{> checkout/shipping-form}}
                        <div class="col-sm-5">
                            <div class="order-summary">
                                <span class="text-uppercase order-summary-title">{{content.orderSummary}}:</span>
                                <span class="checkout-total-items">{{content.itemsTotal}}</span>
                            </div>
                            {{> checkout/checkout-item}}
                            <div class="row visible-xs">
                                <div class="col-sm-6">
                                    <div>
                                        <a href="#" id="shipping-continue-checkout-btn-xs" class="btn text-uppercase checkout-checkout-btn">{{content.checkoutBtn}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> common/checkout-footer}}
{{> common/htmlscripts}}
</body>

</html>