<div class="col-sm-7">
    <form method="post" action="{{content.shippingFormContainer.formAction}}">
        <div class="shipping-info">
            <span class="text-uppercase shipping-info-title">{{content.messages.checkout.shippingStep.form.title}}</span>
            <span class="pull-right required-fields">{{content.messages.form.required}}*</span>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="title">
                    <span class="text-uppercase">{{content.messages.form.title.label}}</span><br>
                    <select id="shipping-title-select" class="checkout-dropdown" name="title">
                        {{#each content.shippingFormContainer.selectableTitles}}
                            <option value="{{value}}"{{#if selected}} selected{{/if}}>{{text}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="first-name">
                    <span class="text-uppercase">{{content.messages.form.firstName.label}}*</span><br>
                    <input id="shipping-firstname-input" class="checkout-input-field" type="text" name="firstName" value="{{content.shippingFormContainer.form.firstName}}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="last-name">
                    <span class="text-uppercase">{{content.messages.form.lastName.label}}*</span><br>
                    <input id="shipping-lastname-input" class="checkout-input-field" type="text" name="lastName" value="{{content.shippingFormContainer.form.lastName}}">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="address-one">
                    <span class="text-uppercase">{{content.messages.form.addressOne.label}}*</span><br>
                    <input id="shipping-addressone-input"class="checkout-input-field" type="text" name="streetName" value="{{content.shippingFormContainer.form.streetName}}">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="address-two">
                    <span class="text-uppercase">{{content.messages.form.addressTwo.label}}*</span><br>
                    <input id="shipping-addresstwo-input" class="checkout-input-field" type="text" name="additionalAddressInfo" value="{{content.shippingFormContainer.form.additionalAddressInfo}}">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="city">
                    <span class="text-uppercase">{{content.messages.form.city.label}}*</span><br>
                    <input id="shipping-city-input" class="checkout-input-field" type="text" name="city" value="{{content.shippingFormContainer.form.city}}">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post-code">
                    <span class="text-uppercase">{{content.messages.form.postCode.label}}*</span><br>
                    <input id="shipping-postcode-input" class="checkout-input-field" type="text" name="postalCode" value="{{content.shippingFormContainer.form.postalCode}}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="country">
                    <span class="text-uppercase">{{content.messages.form.country.label}}*</span><br>
                    <select id="shipping-country-select" class="checkout-dropdown" name="country">
                        {{#each content.shippingFormContainer.selectableCountries}}
                            <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="region">
                    <span class="text-uppercase">{{content.messages.form.region.label}}</span><br>
                    <input id="shipping-region-input" class="checkout-input-field" type="text" name="region" value="{{content.shippingFormContainer.form.region}}">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="primary-telephone">
                    <span class="text-uppercase">{{content.messages.form.phone.label}}</span><br>
                    <input id="shipping-telnumber-input" class="checkout-input-field" type="text" name="phone" value="{{content.shippingFormContainer.form.phone}}">
                    <span class="tel-email-text">{{content.messages.form.phone.required}}</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="email-address">
                    <span class="text-uppercase">{{content.messages.form.email.label}}*</span><br>
                    <input id="shipping-email-input" class="checkout-input-field" type="text" name="email" value="{{content.shippingFormContainer.form.email}}">
                    <span class="tel-email-text">{{content.messages.form.email.required}}</span>
                </div>
            </div>
        </div>
        <div class="row different-billing-row">
            <div class="col-sm-12">
                <div class="different-for-billing">
                          <span>
                            <input id="different-billing-checkbox" type="checkbox">
                          </span>
                    <span>{{content.messages.checkout.billingAddress.isSeparateToShipping}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="different-billing-address">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="address-one-different">
                                <span class="text-uppercase">{{content.messages.form.addressOne.label}}*</span><br>
                                <input id="shipping-different-addressone-input" class="checkout-input-field" type="text">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="address-two-different">
                                <span class="text-uppercase">{{content.messages.form.addressTwo.label}}*</span><br>
                                <input id="shipping-different-addresstwo-input" class="checkout-input-field" type="text">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="city-different">
                                <span class="text-uppercase">{{content.messages.form.city.label}}*</span><br>
                                <input id="shipping-different-city-input" class="checkout-input-field" type="text">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="post-code-different">
                                <span class="text-uppercase">{{content.messages.form.postCode.label}}*</span><br>
                                <input id="shipping-different-postcode-input" class="checkout-input-field" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="country-different">
                                <span class="text-uppercase">{{content.messages.form.country.label}}*</span><br>
                                <select id="shipping-different-country-select" class="checkout-dropdown" name="title-billing" form="title">
                                    {{#each content.diffChooseCountry.list}}
                                        <option value="{{value}}" {{#if selected}}selected{{/if}}>{{text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="region-different">
                                <span class="text-uppercase">{{content.messages.form.region.label}}*</span><br>
                                <input id="shipping-different-region-input" class="checkout-input-field" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> checkout/shipping-method-form}}
        <div class="row hidden-xs">
            <div class="col-sm-6">
                <div>
                    <button id="shipping-continue-checkout-btn" class="btn text-uppercase checkout-checkout-btn">{{content.messages.checkout.continueCheckout}}</button>
                </div>
            </div>
        </div>
    </form>
</div>